<div class="center hero-unit">
	<h1><%= settings.frontPageSlogan %></h1>
	<h2><%= settings.frontPageDescription %></h2>
</div>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Beschreibung</th>
			<th>Datum</th>
			<th>Veranstaltungsort</th>
		</tr>
	</thead>
	<tbody>		
	<% @workshops.each do |workshop| %>
		<% if workshop.status != nil %>	
			<tr>
				<td><%=workshop.name%></td>
				<td><%=workshop.description%></td>
				<td><%=workshop.date%></td>
				<td><%=workshop.venue%></td>
				<td><%= link_to "Register now!", new_registration_path(:id=>workshop.id, :type=>'participant'), class: "btn btn-large btn-primary" %></td>
				
			</tr>	
		<% end %>
	<%end%>
	</tbody>
</table>
