<% provide(:title, 'Listing registrations') %>
<h1>Listing Registrations</h1>

<table>
  <thead>
    <tr>
      <% if @registrations.first != nil %>
          <% if !@structure.blank? %>
            <% i = 0 %>
            <% @structure.each do |element| %>
              <td><strong> <%= element['caption']%> </strong></td>
              <% if element['type'] == 'radiobuttons'%>
                <% @registrations.each do |registration| %>
                  
                  <% i += 1 %>
                <%end %>
              <% end %>
            <% end %>
          <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
      <% @structure.each do |element| %>
        <td><%= registration["attributes"][element["name"]] %></td>
      <% end %>
      <td><%= link_to 'Show', registration_path(registration["id"]) %></td>
      <td><%= link_to 'Edit', edit_registration_path(registration["id"]) %></td>
      <td><%= link_to 'Destroy', registration_path(registration["id"]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
