<% provide(:title, 'Listing registrations') %>
<h1>Listing registration</h1>


<table>
  <thead>
    <tr>
      <% @registrations.first.attributes.each do |attr_name, attr_value| %>
        <% if attr_name != '_id' and attr_name != 'authenticity_token' %>
          <th><%= attr_name %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
      <% registration.attributes.each do |attr_name, attr_value| %>
        <% if attr_name != '_id' and attr_name != 'authenticity_token' %>
          <td><%= attr_value %></td>
        <% end %>
      <% end %>
      <td><%= link_to 'Show', registration %></td>
      <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
      <td><%= link_to 'Destroy', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Registration', new_registration_path %>
<br>
<%= link_to 'New Coach Registration', new_coach_path %>
