<% provide(:title, 'Listing registrations') %>
<h1>Listing registrations</h1>

<table>
  <thead>
    <tr>
      <th>Profile Image</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Twitter</th>
      <th>Programming</th>
      <th>Railsexperience</th>
      <th>Motivation</th>
      <th>Os</th>
      <th>Specialdiet</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= gravatar_for user, size: 52 %></td>
        <td><%= registration.firstname %></td>
        <td><%= registration.lastname %></td>
        <td><%= registration.email %></td>
        <td><%= registration.twitter %></td>
        <td><%= registration.programming %></td>
        <td><%= registration.railsexperience %></td>
        <td><%= registration.motivation %></td>
        <td><%= registration.os %></td>
        <td><%= registration.specialdiet %></td>
        <td><%= link_to 'Show', registration %></td>
        <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
        <td><%= link_to 'Destroy', registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Registration', new_registration_path %>
<br>
<%= link_to 'New Coach Registration', new_coach_path %>
