<h1>Listing forms</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @forms.each do |form| %>
        <script type="text/javascript">
          structure_to_render = <%=form.structure.html_safe %>;
        </script>
        <form id="form_preview"></form>
        <tr>
          <td><%= link_to 'Show', form %></td>
          <td><%= link_to 'Edit', edit_form_path(form) %></td>
          <td><%= link_to 'Destroy', form_path(form), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% if params[:id] != nil %>
            <td><%= button_to "Add to Workshop", { :controller => "workshops", :action => "addForm", :id=>form.id, :type=>params[:type], :workshop_id=>params[:id]}%></td>
          <% end %>
        </tr>
     
    <% end %>
  </tbody>
</table>

<br>
