<p id="notice"><%= notice %></p>

<script type="text/javascript">
	structure_to_render = <%= @form.structure.html_safe %>;
</script>

<form id="form_preview"></form>

<%= link_to form_path(params[:id]), method: :delete, data: { confirm: 'Are you sure?' }, :title=>"Destroy" do %><i class="fa fa-trash-o"></i><% end %>

<% if params[:workshop_id] != nil %>
    <%= button_to "Add to Workshop", { :controller => "workshops", :action => "addForm", :id=>params[:id], :type=>params[:type], :workshop_id=>params[:workshop_id]}%>
<% end %>

<%= link_to 'Back', forms_path %>
