<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
            <% if signed_in? %>
              <li><%= link_to "Show Registrations",    registrations_path%></li>
              <li><%= link_to "Profile", current_user %></li>
              <li>
                <%= link_to "Sign out", signout_path, method: "delete" %>
              </li>
              <li>
                <%= link_to "Workshops", workshops_path %>
              </li>
              <li>
                <%= link_to "Participant Forms", forms_path(:type=>'participant/') %>
              </li>
              <li>
                <%= link_to "Coach Forms", forms_path(:type=>'coach/') %>
              </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>