<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
            <% if signed_in? %>
              <li><%= link_to "Show Registrations",    registrations_path%></li>
              <li><%= link_to "Profile", current_user %></li>
              <li>
                <%= link_to "Sign out", signout_path, method: "delete" %>
              </li>
              <li>
                <%= link_to "Workshops", workshops_path %>
              </li>
              <li>
                <%= link_to "Form Templates Participant", forms_path(:template=>'1', :type=>'participant/') %>
              </li>
              <li>
                <%= link_to "Form Templates Coach", forms_path(:template=>'1', :type=>'coach/') %>
              </li>                     
          <% else %>
             <li><%= link_to "Register",    new_registration_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>